<%- include('./partials/header') %>

<h2>Welcome...</h2>
<img src="" alt="photo soon">
<form>
    <input type="email" placeholder="Type your email..." required>
    <button type="submit" style="background-color: red; color: white;">Subscribe</button>
  </form>
  

<%- include('./partials/footer') %>