<%- include('../partials/header') %>

<div>Explore new authors.</div>
<section id="badge-container">
  <% discovers.forEach(function(d) { %>
    <article class="badge"><%= d.name %></article>
  <% }) %>
</section>

<form id="add-discover-form" action="/discovers" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <label>Born:</label>
  <input type="date" name="born">
  <input type="submit" value="Add Discover">
</form>

<%- include('../partials/footer') %>
